
/* определение переменных */

:root {
	--font-description-item-color: #757575;
	--font-heading-color: #212121;
	--accent-color: #ffffff;
	--background-footer-hero-color: #2f303a;
	--background-basic-color: #e5e5e5;
	--background-team-button-color: #f5f4fa;
	--hover-web-color: #2196f3;
	--font-family: 'Roboto';
	--font-style: normal;
	--address-color: #757575;
	--fontsize-header-footer-advantage: 14px;
	--fontsize-team-projectsdesc-buttons: 16px;
}

/* глобальные настройки и сброс по умолчанию*/

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

:visited {
	color: inherit;
	
}
li {
	list-style: none;
}
a {
	text-decoration: none;
	color: inherit;
}
img {
	display: block;
}

body {
	font-family: var(--font-family), sans-serif;
	font-style: var(--font-style);
	letter-spacing: 0.03em;
	font-weight: normal;
	margin: 0px auto;
	font-size: var(--fontsize-team-projectsdesc-buttons);
}
/* ======= класс, который прячет ====== */
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/* утилита задает размер главным блокам и размещает их по центру */

.main-blocks-centred{
	width: 1170px;
	margin-left: auto;
	margin-right: auto;
}
/* утилита задает размер шрифту в header, footer, блоку advantages */

.fontsize-header-footer-advantage {
	font-size: var(--fontsize-header-footer-advantage);
}
/* обложка для portfolio, advantages, business */
.background {
	width: 1600px;
	background-color: var(--background-basic-color);
	padding: 94px 0px;
}
/* настройки для заголовков секций */
.section-title {
	font-weight: bold;
	font-size: 36px;
	line-height: 1.16;
	text-align: center;
	color: var(--font-heading-color);
	padding-bottom: 50px;
	padding-top: 94px;
}
/* шрифт для фрагментов в верхнем регистре */
.font-caps {
	font-weight: bold;
	line-height: 1.14;
	text-transform: uppercase;
	
	font-size: inherit;
	
}

/* ======================== HEADER ======================== */

 .header-container { 
	
	width: 1600px;
	height: 80px;
	background-color: var(--accent-color);
	border-bottom: 1px solid #ECECEC;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 80px;

	font-weight: 500;
	line-height: 1;
	letter-spacing: 0.02em;
	color: var(--font-heading-color);
    
	
	
}

header ul {
	display: flex;
}

header li:not(:first-child) {
    margin-left: 50px;
}
.contacts-header li{
	display: flex;
	align-items: center;
	
}


.contacts {
	color: var(--font-description-item-color);
	display:flex;
	align-items: center;
}

/* ============== ЛОГОТИП ==============*/
.logo {
	font-family: 'Raleway', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 26px;
	line-height: 1.2;
	color: var(--font-heading-color);
}

.logo span {
	color: var(--hover-web-color);
}

.icon-mail {
	width: 12px;
	height: 10px;
	margin-right: 10px;
	fill: currentColor;
}
.icon-phone {
	width: 10px;
	height: 16px;
	margin-right: 10px;
	fill: currentColor;
}

/* ======================== FOOTER ======================== */

.footer-container {
	width: 1600px;
	
	background-color: var(--background-footer-hero-color);
}
footer {
	
	line-height: 1.71;
	font-style: var(--font-style);
	--font-heading-color: var(--accent-color);
	padding: 60px 0px;
}
.logo-social-title {
	display: flex;
	align-items: baseline;
}
address {
	font-style: inherit;
	color: var(--font-heading-color);
}

.logo-footer {
	display: block;
	 
	padding-bottom: 20px;
}
footer li:not(:last-child) {
	margin-bottom: 9px;
}
.social-heading {
	color: var(--accent-color);
	margin-left: 156px;
	
}
.address-social {
	display: flex;
}


.contacts-footer {
	color: rgba(255, 255, 255, 0.6);
}

.social-links{
	
	display: flex;
	justify-content: center;
	text-align: center;	
}
address {
	margin-right: 70px;
}
.round {
	/* border-radius: 50%; */
	background: rgba(255, 255, 255, 0.1);
	
}

/* ========== HOVER AND FOCUS ============= */

.studio-ref:hover,
.studio-ref:focus,
.contacts-ref:hover,
.contacts-ref:focus,
.portfolio-ref:hover,
.portfolio-ref:focus
 {
	color: var(--hover-web-color);
}
.icon-social-team:hover, 
.icon-social-team:focus {
	background-color: var(--hover-web-color);
	fill: var(--accent-color);
 }

.filter-btn:hover,
.filter-btn:focus {
	background-color: var(--hover-web-color);
	color: var(--accent-color);
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.photo-work li:hover,
.photo-work li:focus {
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.round:hover,
.round:focus {
	background: #2196F3;
	fill: var(--accent-color);
}
.customers-icon:hover,
.customers-icon:focus {
	fill: var(--hover-web-color);
}
.contacts:hover,
.contacts:focus {
	color: var(--hover-web-color);
	fill: var(--hover-web-color);
}

 
/* ========== HERO ============= */

.hero {
	/* background-color: var(--background-footer-hero-color); */
	width: 1600px;
	height: 600px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 200px;
	padding-bottom: 200px;
	text-align: center;
	background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4),
	rgba(47, 48, 58, 0.4)
	   ),
	   url("../img/overlay.jpg");
	   

	
}
.hero-title {
	
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
		
	letter-spacing: 0.06em;
	text-transform: uppercase;
	color: var(--accent-color);
	
}

.order-btn {

	display: inline-block;
	padding: 10px 32px;
	min-width: 200px;
	margin-top: 30px;

	font-weight: bold;
	line-height: 1.87;
	letter-spacing: 0.06em;

	border-radius: 4px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	color: var(--accent-color);
	background-color: var(--hover-web-color);
	
}

/* ============ НАШИ ПРЕИМУЩЕСТВА =============== */
.advantages {
	
	display: flex;
	justify-content: center;
}

.advantages li {
	width: 270px;
}
.advantages li:not(:last-child){
	margin-right: 30px;
}


.advantages h3{
	
	color: var(--font-heading-color);
	margin-bottom: 10px;
}
.advantages p {
	line-height: 1.7;
	color: var(--font-description-item-color);
}
.icon-advantages {
	width: inherit;
	height: 120px;
	padding: 25px 0px;
	margin-bottom: 30px;
	background: #F5F4FA;
	border-radius: 4px;
	fill: #212121;
}


.business-list {
	display: flex;
	justify-content: center;
	margin: 0px auto;
	
}
.business-list li:not(:last-child){
	margin-right: 30px;
}

/* ============ НАША КОМАНДА =============== */
	
.team {
	background-color: var(--background-team-button-color);
	line-height: 1.19;
	text-align: center;
	color: var(--font-description-item-color);
	width: 1600px;
}
.team ul {
	display: flex;
	justify-content: center;
	text-align: center;
	
}
.team-list>li:not(:first-child) {
	margin-left: 30px;
}
.team, .customers {
	padding-bottom: 94px;
}

.team b {
	display: block;
	color: var(--font-heading-color);
	
}
.team p {
	 margin-top: 10px;
	 margin-bottom: 16px;	
	
}
.team-item {
	padding-top: 30px;
	padding-bottom: 30px;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
	background: var(--accent-color);
}
.icon-social-team {
	height: 44px;
	width: 44px;
	padding: 12px 0px;
	fill: #AFB1B8;
	border-radius: 50%;
	
}

.social-links>li:not(:first-child) {
	margin-left: 10px;
}

/* =============== CUSTOMERS ================== */
.customers {
	width: 1600px;
	background-color: var(--background-basic-color);
}

.customers-item {
	
	width: 170px;
	height: 90px;
	border: 1px solid #AFB1B8;
	border-radius: 4px;
}
.customers-list {
	display: flex;
	align-items: center;
	justify-content: center;
}
.customers-list>li:not(:first-child) {
	margin-left: 30px;
}
.customers-item a {
	width: inherit;
	height: inherit;
	display: flex;
	align-items: center;
	justify-content: center;
}
.customers-icon {
	fill: #AFB1B8;
}

/*============== СТРАНИЦА ПОРТФОЛИО ===================== */

/* КНОПКИ ФИЛЬТРА */

.filter {
	
	display: flex;
	justify-content: center;
	
}
.filter-btn {
	
	text-align: center;
	min-width: 84px;
	padding: 6px 22px;

	font-weight: 500;
	line-height: 1.62;
	font-family: inherit;
	font-style: inherit;
	letter-spacing: inherit;
	font-size: inherit;
	
	border-radius: 4px;
	border: 0px;
	color: var(--font-heading-color);
	background-color: var(--background-team-button-color);
}

.filter li:not(:last-child) {
	margin-right: 8px;
}

/* ============= ФОТО РАБОТ ============== */

.photo-work {
	display: flex;
	flex-wrap: wrap;
	padding-top: 50px;
	
}
.photo-work li:not(:nth-child(3n)){
	margin-right: 27px;
}
.photo-work li{
	border: 1px solid #EEEEEE; 
	background: var(--accent-color);
	margin-bottom: 30px;
}
.photo-work li:nth-last-child(-n + 3) {
    margin-bottom: 0px;
}
.photo-work b, .photo-work p {
	margin-left: 24px;
}
.photo-work b {
	display:block;
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 4px;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
	color: var(--font-heading-color);
	
}
.photo-work p {
	line-height: 1.87;
	color: var(--font-description-item-color);
	margin-bottom: 20px;
}
.photo-work a {
	width: inherit;
	height: inherit;
}